@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to CupCakeShop</h1>
        
        <img src="https://media3.giphy.com/media/PD7EWyW0Juupq/source.gif" class="img-fluid" alt="Responsive image" />
    </div>
